header
{
  position: relative;
}


// HEADER-NAV

.header__logo
{
  cursor: pointer;
}

.header_container
{
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1;
  padding-top: 40px;
}

.header_nav 
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: .3s;
}

.header__menu 
{
  display: flex;
}

.header__menu_link 
{
  font-size: 14px;
  color: #fff;
  margin-left: 60px;
  transition: .3s;
  position: relative;
  outline: none;


  &::before
  {
    content: '';
    position: absolute;
    bottom: -22px;
    width: 0%;
    height: 2px;
    background: $accent_color;
    transition: .3s;


  }

  
  &:hover::before, 
  &:focus::before
  {
    width: 100%;
  }
  
  &:hover,
  &:focus
  {
    color: $accent_color;
  }
  
}

.header__burger
{
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: none;
}







// SLIDER
.slider
{
  position: relative;
  top: 0;
  z-index: 0;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 50% 100%, 0 90%); 
  transition: .3s;

}


.slider__track
{
  display: flex;
  width: 100%;
  transition: .3s;
  height: 100%;
  height: 990px;
}


.slide
{
  z-index: 1;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-position: center;
  background-size: cover;

}

// SLIDES BG

.slide_first
{
  background-image: url('../img/header/slide-bg-1.png');
  
}
.slide_second
{
  background-image: url('../img/header/slide-bg-2.jpg');
  
}
.slide_third
{
  background-image: url('../img/header/slide-bg-3.jpg');

}

.slide_inner
{
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .65;
}



.slide__content 
{
  position: relative;
  color: #f4f5f9;
  text-align: center;
}

// SLIDE HEADER BLOCK
.slide__top_header
{
  font-size: 24px;
}

.slide__main_header
{
  margin-top: 45px;
  font-size: 72px;

}



// SLIDE TEXT BLOCK
.slide__text_block
{
  max-width: 580px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 22px;
}

// SLIDE HANDLE BLOCK

.slide__handle_block 
{
  margin-top: 70px;
}

.slide__btn 
{
  border: 1px solid #fff;
  display: inline-block;
  border-radius: 3px;
  background: none;
  font-size: 14px;
  color: #fff;
  width: 225px;
  padding: 20px 0;
  margin: 0 15px;
  outline: none;
  transition: .3s;

  &:hover,
  &:focus {
    background: $accent_color;
    border: 1px solid $accent_color;
  }
}



.sldier_btn
{
  background: #716a64;
  border: none;
  font-size: 25px;
  width: 45px;
  height: 45px;
  position: absolute;
  top: 50%;
  z-index: 2;
  border-radius: 2px;
  transition: .3s;

  &:hover
  {
    background: $accent_color;
    color: #fff;
  }
}

.sldier_btn--next
{
  right: 1.5%;
}

.sldier_btn--prev
{
  left: 1.5%;
}


// HEADER ANCHOR 


.anchor_container 
{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100px;
  outline: none;
  z-index: 0;
}

.anchor_container__img_box 
{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: -25px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 50%;
  transition: 1s;


  &::after {
    content: '';
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    opacity: .3;
    z-index: 5;
    transition: .3s;
    animation: anchor_animation 1.5s alternate forwards infinite;
  }
}

.header__anchor {
  z-index: 6;
}

@keyframes anchor_animation {
  0% {
    background: #fff;
    width: 70px;
    height: 70px;
  }
  
  100% {
    background: #fff;
    width: 90px;
    height: 90px;
  }
}