.services_wrapper 
{
  background: #202020;
  display: flex;
  color: #fff;
  text-align: right;

}

// SERVICES CONTENT BLOCK
.services__content_block
{
  width: 54%;
  padding: 150px 0;


}

.services__header
{
  font-size: 36px;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 80px;


}

.services__header_decor
{
  height: 36px;
  display: inline-block;
  width: 6px;
  background: $accent_color;
  margin-left: 30px;

}



// SERVICE
.service
{
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 60px;

}

.service__header
{
  font-size: 18px;
  color: $accent_color;
  font-weight: 400;
 
}



.service__text 
{
  color: $ligt_grey;
  font-size: 14px;
  max-width: 565px;
  line-height: 28px;

}


.service__img
{
  padding-left: 25px;
  transform: translate(30px);
  transition: .2s;

}




// SERVICES IMAGE BLOCK
.services__image_block
{
  height: auto;
  width: 46%;
  background-image: url('../img/main/services_bg.png');
  background-size: cover;
}