@media (max-width: 1440px)
{
  .slider
  {
    clip-path: polygon(0 0, 100% 0, 100% 93%, 50% 100%, 50% 100%, 0 93%); 
  }  

  // FOOTER
  .footer__anchor
  {
    bottom: 70px;
  }
}

@media (max-width: 1280px)
{
  // HEADER
  .header_nav
  {
    padding-left: 10px;
    padding-right: 10px;
  }

  // ADVANTAGES
  .advantages_container
  {
    padding: 0 10px 150px;
  }

  // FEEDBACK
  .feedback__form_block
  {
    padding: 0 10px;
  }
  .feedback__form_input
  {
    width: 100%;
  }

  // FOOTER
  .footer_container
  {
    padding: 30px 10px;
  }
}



@media (max-width: 1024px) 
{
  // HEADER
  .header_nav
  {
    position: relative;
  }

  .header__menu_block
  {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: .8);
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    display: none;
    transition: .5s;
  }

  .header__menu
  {
    flex-direction: column;
    z-index: 20;

    li
    {
      margin: 10px 0;
    }
  }

  .header__menu_link
  {
    font-size: 35px;
    margin: 20px auto;

    &::before
    {
      display: none;
    }
  }

  .header__burger 
  {
    display: block;
  }

  @keyframes show_menu_anim 
  {
    0% {
      display: flex;
      visibility: hidden;
      opacity: 0;
    }

    100% {
      visibility: visible;
      opacity: 1;
    }
  }

  @keyframes hide_menu_anim 
  {
    0% {
      visibility: visible;
      opacity: 1;
    }


    100% {
      visibility: hidden;
      opacity: 0;
      display: none;
    }
  }

  
  .show_menu
  {
    display: flex;
    animation: show_menu_anim forwards .5s;    
  }
  
  .hide_menu
  {
    display: flex;
    animation: hide_menu_anim forwards .5s;
  }  
  
  
  // SERVICES

  .services__content_block
  {
    padding: 30px 10px;
  }

  
  // FEEDBACK

  .feedback__form_block
  {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
  }

  .feedback__info_block
  {
    min-width: 500px;
    margin-bottom: 20px;
  }

  .feedback__form
  {
    width: 500px;
  }


  .sticky 
  {
    background: #202020;
    padding: 10px 15px;
    max-width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }



}



@media (max-width: 980px) 
{

  // SLIDER

  .slider
  {
    clip-path: polygon(0 0,100% 0,100% 95.5%,50% 100%,50% 100%,0 95.5%)
  }

  // ADVANTAGES

  .advantages_container
  {
    flex-wrap: wrap;
  }

  .advantage
  {
    margin-bottom: 30px;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}


@media (max-width: 780px) 
{
  // SERVICES

  .services__content_block
  {
    text-align: left;
    width: 100%;
  }

  .services__image_block
  {
    display: none;
  }
  
  .services__header
  {
    justify-content: center;
    margin: 0;
  }

  .service__img
  {
    transform: none;
  }
}

@media (max-width: 620px) 
{
  // HEADER
  
  .slider__track
  {
    height: 800px;
  }

  .slide__main_header
  {
    font-size: 45px;
  }

  .slide__text
  {
    padding: 5px;
  }

  .sldier_btn
  {
    top: auto;
    bottom: 10%;
  }

  .slide__btn
  {
    width: 160px;
  }


  // ADVANTAGES
  .advantage__text 
  {
    padding: 0 5px;
  }


  // FEEDBACK

  .feedback__info_block
  {
    padding: 80px;
    height: 570px;
    min-width: auto;
    width: 100%;
    max-width: none;

  }

  .feedback__form
  {
    width: 100%;
    padding: 70px;
    height: 570px;
  }




  // FOOTER
  .promo__inner
  {
    padding: 0 5px;
  }

  .promo__header 
  {
    font-size: 28px;
  }

  .footer_container
  {
    flex-direction: column;
    align-items: center;
  }

  .footer__anchor
  {
    right: 15px;
  }

  .footer__menu
  {
    margin-bottom: 10px;
  }
}

@media (max-width: 460px) 
{
  // FEEDBACK
  .feedback__info_block
  {
    padding: 70px 40px;
  }
  
  .feedback__form
  {
    padding: 70px 40px;
  }

  .footer__menu_link
  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
  }
}

@media (max-width: 400px) 
{
  // HEADER

  .header__menu_link
  {
    font-size: 25px;
  }

  .slide__header_block
  {
    margin-top: 40px;
  }

  .slide__btn
  {
    display: block;
    width: 210px;
    margin: 10px auto;
  }


  

  // FOOTER
  .promo__header
  {
    font-size: 24px;
  }
  
  .footer__anchor
  {
    bottom: 90px;
  }
}

@media (max-width: 355px) 
{
  // HEADER

  .slide__top_header
  {
    font-size: 22px;
  }
  
  .slide__main_header
  {
    font-size: 28px;
  }

  .sldier_btn
  {
    height: 35px;
    width: 35px;
  }


  // ADVANTAGE
  .advantage 
  {
    flex-basis: 100%;
  }

  // SERVICES
  .services__header 
  {
    font-size: 26px;
  }


  // FEEDBACK
  .feedback__form,
  .feedback__info_block
  {
    padding: 70px 20px;
  }
  
  .feedback__send_btn
  {
    margin: 0 auto;
  }

  // FOOTER
  .promo__text
  {
    font-size: 15px;
  }
}